.logo {
    height: auto;
    max-width: 3rem;
    width: 2rem;
  }
  .picture {
    height: auto;
    width: 10rem;
  }
  .vertical-center {
    min-height: 100%; 
    min-height: 100vh;
  
    display: flex;
    align-items: center;
  
  }