.logo {
    height: auto;
    max-width: 3rem;
    width: 2rem;
  }
  .picture {
    width: 10rem;
    min-width:5rem;
    height: auto;
  }
  .vertical-center {
    min-height: 100%; 
    min-height: 100vh;
  
    display: flex;
    align-items: center;
  
  }