<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
</head>

<body>
  <h1 style="font-size:40px">Peyton Howell</h1>
  <br style="size: 20px;">
  <div class="row">
    <div class="column">
      <h2>About Me</h2>
      <p>I am a 2nd year computer science major at Georgia Tech. Interested in software engineering opportunities</p>  
    </div>
    <div class="column">
      <img src="../assets//profile picture.jpg">
    </div>
  </div>
  <div class="row" style="padding:20px">
    <a href="https://www.linkedin.com/in/peytonhowell/"><i class='fab fa-linkedin fa-2x white-icon'></i></a>
    <a href="../assets/resume.pdf"><mat-icon class="white-icon">file_copy</mat-icon> </a>
</div>

</body>
