.App {
  text-align: center;
  justify-content: center;
  min-height: 100%; 
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.App-link {
  color: #61dafb;
}


.logo {
  height: auto;
  max-width: 3rem;
  width: 2rem;
}

.myPicture {
  height: auto;
  width: 250px;
  max-width: 50%vh;
}

.horizontalMargin {
  margin-left: 1rem;
  margin-right: 1rem;
}